// Reset
// --------------------

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-size: 6.25%;
}

// General styling
// --------------------

:root {
  --color-blue-grey: #717fa6;
  --color-blue-grey-light: #f7f9ff;
  --color-blue-grey-dark: #1f2e55;
  --color-purple: #382ae1;
  --color-pale-blue: #e0e8ff;
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: 16rem;
  font-family: "Red Hat Display", sans-serif;
  color: var(--color-blue-grey);
  background-color: var(--color-pale-blue);
  background-image: url("./images/pattern-background-desktop.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}
